@font-face
	font-family: ALS Fuchsia
	font-weight: normal
	font-style: normal
	src: url('../fonts/alsfuchsia.eot')
	src: url('../fonts/alsfuchsia.eot?#iefix') format('embedded-opentype'), url('../fonts/alsfuchsia.woff2') format('woff2'), url('../fonts/alsfuchsia.woff') format('woff'), url('../fonts/alsfuchsia.ttf') format('truetype'), url('../fonts/alsfuchsia.svg#svgFontName') format('svg')

$primary-size: 20px

html
	height: 100%
body
	position: relative
	min-height: 100%
section
    padding-bottom: 250px
.pn
	padding: 0
.logo, h1, h2, .partition, .btn-order
	margin: $primary-size 0
h1
	font-weight: bold
	color: rgb(0, 0, 0)
	font-size: $primary-size * 4
	line-height: 1.2
p, li, label
	font-size: $primary-size
.glyphicon-bookmark
    display: block
    top: 0
    margin: 0 $primary-size * 8 0 0

/*index.html*/
/*header*/

header
	margin-top: $primary-size
	>div
		margin: $primary-size 0
	.input-group[class*="col-"]
		float: left
.search
	max-width: $primary-size * 15
.searchleft
	border-bottom-left-radius: $primary-size 50%
	border-top-left-radius: $primary-size 50%
	background-color: #fff
	border-right: 0
.searchright
	border-bottom-right-radius: $primary-size 50%
	border-top-right-radius: $primary-size 50%
	border-left: 0
.searchright:focus
	border-color: #ccc;
	box-shadow: none
.enter
	height: $primary-size + 5
	width: $primary-size - 5
	margin: 5px 0 0 5px

/*stop header*/
/*footer*/

footer
	width: 100%
	bottom: 0
	position: absolute
	margin-top: $primary-size * 2

/*stop footer*/
/*stop index.html*/
/*home.html*/

.partition
	height: $primary-size * 21.75
	p
		line-height: 1.4
.book
	box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.5)
.showMore
	font-size: $primary-size
	color: rgb(66, 131, 192)
	line-height: 1.7
	margin: $primary-size 0
	border-color: rgb(149, 193, 230)
	border-radius: 8px
u
	color: rgb(66, 131, 192)

/*stop home.html*/
/*about.html*/

.about
	margin: 0 $primary-size / 2
	.limitation
		max-width: $primary-size * 32
		margin: 0 auto
	h2, h3
		font-weight: bold
		color: rgb(0, 0, 0)
	h2
		font-size: 32px
		line-height: 1.7
	h3
		margin-top: $primary-size / 4
		line-height: 1.3
	p, li
		line-height: 1.7
	.container
		>:first-child, :nth-child(n+3)
			margin-top: $primary-size * 1.5
			margin-bottom: $primary-size / 2
	img
		padding-top: $primary-size / 2
	.alsfuchsia
		max-width: $primary-size * 40
		margin: $primary-size + 10 auto
		border-top: 1px solid
		border-bottom: 1px solid
		p
			font-family: ALS Fuchsia
			line-height: 1.5
			font-size: 28px
			margin: $primary-size + 10 0
.marker
	list-style: none
	>li:before
		content: '— '
article
	font-size: 24px
	line-height: 1.4

/*stop about.html*/
/*book-detail.html*/

.btn-order
	white-space: normal
	font-size: $primary-size + 10
	color: #fff
	margin-bottom: $primary-size
	border-radius: 12px
	background-image: linear-gradient(0deg, rgb(97,60,99) 0%, rgb(133,89,135) 100%)
	box-shadow: 0px 12px 12px 0px rgba(56, 37, 57, 0.5), 0px 2px 3px 0px rgba(0, 0, 0, 0.5)
figcaption
	p
		margin: $primary-size 0 $primary-size * 3
.large-bookmark
	font-size: $primary-size
	margin: 0 300px 0 0
.afterword
	font-size: $primary-size - 5
	font-style: italic
	line-height: 1.3
	color: rgb(220, 220, 220)
	margin: $primary-size - 10 0
.skraffi
	width: 72px
	height: 72px

/*eye*/

.boxEye
	position: absolute
	bottom: 250px
	width: 95%
	.shell
		position: relative
		margin: auto
		width: $primary-size * 6.5
		height: $primary-size * 6.5
		.eye
			position: absolute
			z-index: 2
			position: relative
			width: $primary-size * 6.5
			height: $primary-size * 6.5
			border: 3px solid black
			background-color: white
			border-radius: 100%
#pupil
	position: absolute
	top: $primary-size * 2.5
	left: $primary-size * 2.5
	width: $primary-size + 5
	height: $primary-size + 5
	border-radius: 100%
	background: black
@for $i from 1 through 4
	.blink#{$i}
		background-image: url(../img/blink-#{$i}.png)
		background-position: -3px -2px
.blink5
	background-color: black

/*stop eye*/
/*stop book-detail.html*/
/*order.html*/

label
	font-weight: 400
	input[type="radio"]
		margin: 8px 0 0
.btn-lg
	padding: $primary-size / 2 $primary-size * 2
.successfully
	padding: $primary-size * 3 0

/*stop order.html*/

@media (max-width: 768px)
	h1
		font-size: 12vw