<section class="about">
	<div class="limitation">
		<h1 class="text-center">Вы работаете — мы отдыхаем</h1>
		<article class="text-center">Мы не несем ответственность за изданные книги. Мы выбираем книги случайно и где попало. Наши любимые темы не определены, не глубоки и не интересны. Мы считаем, что краткость. Поэтому мы обходимся двумя словами, чтобы выразить все эмоции и донести смысл.</article>
		<h2>История названия</h2>
		<p>Название издательства «Фрай, без штанов и Бендер» является отсылкой к известному мировому издательству  XXI века «Манн, Иванов и Фербер». После того как издательство смоделировало искусственный интеллект (вобравший в себя 25 триллионов изданных книг) и все ее сотрудники исчезли в Бесконечном Нейронном Пространстве межгалактический совет запретил издавать бумажные книги.</p>
	</div>
	<div class="container clearfix">
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
			<img src="img/fry.png">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
			<img src="img/bender.png">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
			<img src="img/skraffi.png">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
			<img src="img/slizen.png">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
			<img src="img/kalkulon.png">
		</div>
		<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
			<img src="img/zepp.png">
		</div>
	</div><!--/.container-->
	<div class="limitation">
		<h2>Основатели</h2>
		<h3>Филип Джей Фрай</h3>
		<p>В 1999 году Фрай встречался с девушкой по имени Мишель и работал курьером в «Пиццерии Пануччи». Жизнь у него пустая, его ничего не интересует, кроме, разве что игровых автоматов.</p>
		<p>Жил он, судя по всему, у Мишель. 31 декабря 1999 года Мишель отшила его, и ему надо было доставить пиццу в криогенную лабораторию. Однако только там он заметил, что это был розыгрыш. Он сидел один в пустом здании лаборатории и качался на стуле, поедая пиццу, когда часы пробили полночь, и в этот момент Фрай упал со стула и попал в криогенную капсулу, в которой был заморожен на 1000 лет и был разморожен только 31 декабря 2999 года.</p>
		<p>Позднее, в эпизоде «The Why of Fry», оказалось, что это Зубастик подтолкнул Фрая, чтобы он упал в криокамеру, для того чтобы Фрай спас вселенную в серии «The Day the Earth Stood Stupid». В этом же эпизоде выяснилось, что Фрая подтолкнул сам Фрай, из будущего. Причина — девушка: Зубастик заключает с Фраем сделку — Филип помогает защищать Вселенную от грозящих ей в XXXI веке опасностей, а зубастильонцы, в свою очередь, помогают ему добиться взаимности от Лилы.</p>
		<h3>Бендер Сгибатель Родригес великий, незаконнособранный</h3>
		<p>В 1999 году Фрай встречался с девушкой по имени Мишель и работал курьером в «Пиццерии Пануччи». Жизнь у него пустая, его ничего не интересует, кроме, разве что игровых автоматов.</p>
		<p>Жил он, судя по всему, у Мишель. 31 декабря 1999 года Мишель отшила его, и ему надо было доставить пиццу в криогенную лабораторию. Однако только там он заметил, что это был розыгрыш. Он сидел один в пустом здании лаборатории и качался на стуле, поедая пиццу, когда часы пробили полночь, и в этот момент Фрай упал со стула и попал в криогенную капсулу, в которой был заморожен на 1000 лет и был разморожен только 31 декабря 2999 года.</p>
		<p>Позднее, в эпизоде «The Why of Fry», оказалось, что это Зубастик подтолкнул Фрая, чтобы он упал в криокамеру, для того чтобы Фрай спас вселенную в серии «The Day the Earth Stood Stupid». В этом же эпизоде выяснилось, что Фрая подтолкнул сам Фрай, из будущего. Причина — девушка: Зубастик заключает с Фраем сделку — Филип помогает защищать Вселенную от грозящих ей в XXXI веке опасностей, а зубастильонцы, в свою очередь, помогают ему добиться взаимности от Лилы.</p>
		<h2>Сотрудники</h2>
		<h3>Скраффи Скраффингтон</h3>
		<p>Скраффи Скраффингтон, или просто Скраффи — уборщик в компании «Планет Экспресс». О нём часто повторяют шутки про то, что он мало взаимодействует с остальным коллективом и многие его просто не помнят или никогда не видели раньше. Также, Скраффи является владельцем 40 тыс. акций «Планет Экспресса», и это больше, чем у остальных сотрудников, поскольку он «больше всех любит свою компанию» (по его словам).</p> 
		<p>Скраффи ленив и его обычно можно увидеть в подвале здания штаб «Планет Экспресс», где он читает журнал «Zero-G Jugg» или «National Pornographic» (рус. «Нэшнл Порнографик»). Обычно о себе говорит в третьем лице.</p>
	</div>
	<div class="alsfuchsia text-center">
		<p>Сотрудники издательства были не раз замечены в провокациях и совершали бессмысленные действия</p>
	</div>
	<div class="limitation">
		<h3>Ужасный студень</h3>
		<p>Добродушный пришелец, но прибегает к насилию даже при малейшей провокации. Как правило глотает негодяя.</p>
		<h3>Калькулон</h3>
		<p>Рекламное лицо компании.</p>
		<h3>Зепп Бранниган</h3>
		<p>Зепп Бранниган (англ. Zapp Brannigan, полное имя Уэбело Зепп Бранниган, англ. Webelo Zapp Brannigan) — персонаж, человек, капитан корабля Нимбус. Питает страстью к Лиле, но она не отвечает взаимностью. Имеет собственного помощника — Кифа. Часто заставляет его делать неприятную работу, например, почесать спинку, намылить Зеппу голову в душе и так далее. Занимает должность генерала в армии.</p>
		<p>Киф ненавидит Зеппа, но вынужден служить ему. Больше всего Киф ненавидит, когда Зепп его просит:</p>
		<ul class="marker">
			<li>потереть спинку;</li>
			<li>подать свежее нижнее белье  в душ;</li>
			<li>позвонить в службу доставки парфюма и угрозами об уничтожении выпросить 99% скидку на любимые духи Зеппа;</li>
			<li>помыть посуду;</li>
			<li>передать вон той леди, как Зепп ее сильно желает.</li>
		</ul>
		<p>В остальном Киф доволен службой в Ограниченных Галактических Непобедимых войсках на должности помощника генерала.</p>
	</div>
</section><!--/.container-->