<section class="container text-center">
	<h1>Мы издаем книги — вы их можете не читать</h1>
	<div class="row">
		<div class="hidden-xs hidden-sm col-md-3 col-lg-3">
			<figure ng-repeat="review in book.reviews">
				<img src="{{review.author.pic}}">
				<figcaption>
					<p>{{review.cite}}</p>
				</figcaption>
			</figure>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<div class="visible-xs-block">
				<img class="book pn" src="{{book.cover.small}}">
				<span class="glyphicon glyphicon-bookmark"></span>
			</div>
			<div class="hidden-xs">
				<img class="book pn" src="{{book.cover.large}}">
				<span class="glyphicon glyphicon-bookmark large-bookmark"></span>
				<div class="hidden-sm boxEye">
					<div class="shell">
						<div class="eye blink0">
							<div id="pupil"></div>
						</div>
					</div>
				</div>
			</div>
			<p ng-bind-html="book.description"></p>
		</div>
		<div class="col-xs-12 col-sm-6 hidden-md hidden-lg">
			<figure ng-repeat="review in book.reviews">
				<img src="{{review.author.pic}}">
				<figcaption>
					<p>{{review.cite}}</p>
				</figcaption>
			</figure>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
			<figure ng-repeat="feature in book.features">
				<img src="{{feature.pic}}">
				<figcaption>
					<p>{{feature.title}}</p>
				</figcaption>
			</figure>
		</div>
	</div>
	<a class="btn btn-lg btn-order" href="#/order/{{book.id}}" role="button">Купить за жалкие {{book.price}} $</a>
	<p class="afterword">Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи</p>
	<img class="skraffi" src="img/skraffi.png">
</section><!--/.container-->