<section class="container text-center">
	<h1>
		Самое незаметное издательство
	</h1>

	<h2>
		Перетаскивайте книги ниже с места на место. Это то, чем мы любим больше всего заниматься. Попробуйте, вам понравится. 
	</h2>

	<div class="row bookslist">
		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 partition" ng-repeat="book in books | limitTo:rowLimit | filter:query">
			<a href="#/book/{{book.id}}"><img class="book" src="{{book.cover.small}}" alt="{{book.title}}"></a>
			<span class="glyphicon glyphicon-bookmark"></span>
			<p ng-bind-html="book.info"></p>
		</div>
	</div><!--/.row-->
	<button class="btn btn-default btn-lg showMore" type="button" ng-click="showMore()">Еще несколько книг</button>
</section><!--/.container-->