<section class="container">
	<h1 class="text-center">Мы издаем книги — вы их можете не читать</h1>
	<form id="orderForm">
		<h2>Оформить заказ на книгу <a href="#/book/{{book.id}}">{{book.title}}</a></h2>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" id="bypost">
				<div class="form-group">
					<label for="InputName">Имя:</label>
					<input class="form-control" id="InputName" type="text" name="text" placeholder="Имя" required>
				</div>
				<div class="form-group">
					<label for="InputPhone">Телефон:</label>
					<input class="form-control" id="InputPhone" type="tel" name="tel" placeholder="Телефон" required>
				</div>
				<div class="form-group">
					<label for="InputEmail">Эл. адрес:</label>
					<input class="form-control" id="InputEmail" type="email" name="email" placeholder="Эл. адрес" required>
				</div>
				<p>Способ доставки:</p>
				<div class="radio" ng-repeat="delivery in deliveryMethods">
					<label>
						<input type="radio" name="delivery" id="{{delivery.id}}" ng-value="delivery" ng-model="$parent.selectedDelivery" ng-change="changed()" ng-click="getPayment(delivery.id)" data-charcode="{{delivery.currency}}">
						{{delivery.name}} - <span class="price">{{delivery.price}}</span> <span class="currency">{{delivery.currency}}</span>
					</label>
				</div>
				<div class="hidden" id="postAddress">
					<label for="deliveryAddress">Адрес доставки</label>
					<input class="form-control" id="deliveryAddress" type="text" name="text">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
				<div class="form-group">
					<label for="currency">Выбрать валюту:</label>
					<select class="form-control" id="currency" ng-model="selectedCurrency" ng-change="optionChanged()">
						<option ng-repeat="currency in currencies" value="{{currency.Nominal / currency.Value}}|{{currency.ID}}|{{currency.CharCode}}" ng-selected="{{currency.CharCode == selectedCurrency.CharCode}}">{{currency.Name}}</option>
					</select>
				</div>
				<div class="form-group">
					<label for="Comment">Комментарий к заказу:</label>
					<textarea class="form-control" id="Comment" rows="5"></textarea>
				</div>
				<p>Способ оплаты:</p>
				<div class="radio" ng-repeat="payment in paymentMethods">
					<label>
						<input type="radio" name="payment" id="{{payment.id}}" ng-value="payment" ng-model="$parent.selectedPayment">
						{{payment.title}}
					</label>
				</div>
			</div>
			<div class="hidden-xs hidden-sm col-md-3 col-lg-3 text-center">
				<img class="book" src="{{book.cover.small}}">
				<span class="glyphicon glyphicon-bookmark"></span>
			</div>
		</div><!--/.row-->
		<div class="text-center">
			<h2>Итого к оплате: <span id="subtotal">{{book.price}}</span> <span id="subtotalCurrency">{{book.currency}}</span></h2>
			<input class="btn btn-default btn-lg" type="submit" value="Оформить заказ">
		</div>
	</form>
	<div class="hidden successfully">
		<h2>Заказ на книгу успешно оформлен.</h2>
		<h2>Спасибо, что спасли книгу от сжигания в печи.</h2>
	</div>
</section><!--/.container-->