<!doctype html>
<html lang="ru" ng-app="bookApp">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Издательство «Фрай, без штанов и Бендер»</title>
		<link rel="stylesheet" href="libs/bootstrap.min.css">
		<link rel="stylesheet" href="css/main.css">
	</head>
	<body>
		<header class="container">
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 logo pn">
				<a href="#/"><img src="img/logo.png" alt=""></a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-offset-5 col-md-4 col-lg-offset-6 col-lg-3 pn">
				<div class="col-xs-11 input-group search">
					<span class="input-group-addon searchleft" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
					<input class="form-control searchright" id="search" type="text" placeholder="Поиск, скорее всего, не работает" ng-model="query">
				</div>
				<img class="col-xs-1 enter pn" src="img/enter.png" alt="">
			</div>
		</header><!--/.container-->
		
		<div ng-view></div>
		
		<footer class="text-center">
			<a href="#/about"><img class="" src="img/bender-footer.png" alt=""></a>
		</footer><!--/.container-->

		<!-- Jquery.js core JavaScript -->
		<script src="libs/jquery.min.js"></script>
		<!-- Jquery.js UI -->
		<script src="libs/jquery-ui.min.js"></script>

		<!-- Angular.js core JavaScript -->
		<script src="libs/angular.min.js"></script>
		<!-- Angular.js Route -->
		<script src="libs/angular-route.min.js"></script>
		<!-- Angular.js Sanitize -->
		<script src="libs/angular-sanitize.min.js"></script>

		<script src="js/controllers.js"></script>
	</body>
</html>
